<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">

        <title>Cville Session Tune List</title>

        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

        <script src="https://unpkg.com/vue@2.5.16/dist/vue.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    </head>

    <body>
        <div id="app">
            <b-container>
                <p>
                    since April 2016 (total weeks recorded: {{ weeksRecorded }})<br />
                    last update: {{ lastDate }}
                </p>
                <b-btn v-b-toggle.explainer size="sm">Popularity icons explained</b-btn>
                <b-collapse id=explainer>
                    <b-card>
                        <ul>
                            <li>'!' -> new (or returning) tune in the last six months</li>
                            <li>'+' -> been playing this more in the last six months</li>
                            <li>'=' -> been holding steady on this one in the last six months</li>
                            <li>'-' -> been playing this less in the last six months</li>
                            <li>'--' -> we haven't played this one in over a year</li>
                        </ul>
                    </b-card>
                </b-collapse>
                <b-form-input v-model="filter" placeholder="Type to Search"></b-form-input>
                <p>Currently showing {{ filteredCount }} tunes.</p>
                <b-table striped hover
                    @filtered="getFilteredCount"
                    :sort-by.sync="sortBy"
                    :sort-desc.sync="sortDesc"
                    :items="items"
                    :fields="fields"
                    :filter="filter">
                    <!-- <template slot="showDetails" slot-scope="row">
                        <div @click.stop="row.toggleDetails">
                            <div v-if="row.detailsShowing">
                                <img src="arrow_down.svg"></img>
                            </div>
                            <div v-else>
                                    <img src="arrow_right.svg"></img>
                            </div>
                        </div>
                    </template>
                    <template slot="row-details" slot-scope="row">
                      <b-card>
                        <ul>
                          <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value}}</li>
                        </ul>
                      </b-card>
                    </template> -->
                </b-table>
            </b-container>
        </div>

        <script>
            window.app = new Vue({
                el: "#app",
                data: {
                    sortBy: 'weeksPlayed',
                    sortDesc: true,
                    filter: null,
                    fields: [
                        { key: 'showDetails', sortable: false, label: "" },
                        { key: 'name', sortable: true },
                        { key: 'type', sortable: true },
                        { key: 'popularity', sortable: true },
                        { key: 'weeksPlayed', sortable: true },
                        { key: 'lastPlayed', sortable: true },
                    ],
                    items: [],
                    filteredCount: 0,
                    weeksRecorded: 0,
                    lastDate: ''
                },
                methods: {
                    getFilteredCount: function(filteredItems) { this.filteredCount = filteredItems.length; }
                },
                mounted() {
                    axios.get('tunes.json')
                    .then(response => {
                        this.items = response.data.tuneList;
                        this.filteredCount = this.items.length;
                        this.weeksRecorded = response.data.weeksRecorded;
                        this.lastDate = response.data.lastDate;
                    })
                }
            })
        </script>
    </body>
</html>